 <div class = "container">
    <aside>
        <div class = "top">
            <div class="logo">
                <h1 >E<span class ="primary">magination</span></h1>
            </div>
            <div class = "close" id ="close-btn">
                <span class="material-symbols-outlined">
                    close
                    </span>
            </div>
        </div>
        
        <div class = "sidebar">
            <a href = "#">
                <span class="material-symbols-outlined">
                    shop
                    </span>
                    <h3>Products</h3>
            </a>
        </div>

        <div class = "sidebar">
            <a href = "#">
                <span class="material-symbols-outlined">
                    login
                    </span>
                    <h3>Login</h3>
            </a>
        </div>

        <div class = "sidebar">
            <a href = "#">
                <span class="material-symbols-outlined">
                    logout
                    </span>
                    <h3>Logout</h3>
            </a>
        </div>
        
    </aside>
    <main>
        
        <div class ="date">
            <h1>Shop Today's Deals</h1>
        </div>
        <div class="insights">
            <div class ="sales">
                <div class ="left">
                </div>
                <div class ="progress">
                    <svg>
                        <circle cx="38" cy="38" r ='36'></circle>
                    </svg>
                    <div class ="number">
                        <p>
                            81%
                        </p>
                        <h1 >$0.99</h1>
                        <div class ="left">
                        <button class ="btn-button" id = "1"><h3>Add to cart</h3></button>
                        </div>
                    </div>
                </div>
            </div>
            
        

            <div class ="expenses">
                
                <div class ="progress">
                    <svg>
                        <circle cx="38" cy="38" r ='36'></circle>
                    </svg>
                    <div class ="number">
                        <p>
                            81%
                        </p>
                    </div>
                </div>
                <div class ="left">
                    <h1>Free</h1>
                    <button class ="btn-button" id = "2"><h3>Add to Cart</h3></button>
                    
                </div>
            </div>
            
    
            <div class ="expenses">
                
                <div class ="progress">
                    <svg>
                        <circle cx="38" cy="38" r ='36'></circle>
                    </svg>
                    <div class ="number">
                        <p>
                            81%
                        </p>
                    </div>
                </div>
                <div class ="left">
                    <h1>$1.99</h1>
                    <button class ="btn-button" id = "3"><h3>Add to Cart</h3></button>
                    
                </div>
            </div>
            
            <div class ="expenses">
                
                <div class ="progress">
                    <svg>
                        <circle cx="38" cy="38" r ='36'></circle>
                    </svg>
                    <div class ="number">
                        <p>
                            81%
                        </p>
                    </div>
                </div>
                <div class ="left">
                    <h1>Free</h1>
                    <button class ="btn-button" id = "4"><h3>Add to Cart</h3></button>
                    
                </div>
            </div>

            <div class ="expenses">
                
                <div class ="progress">
                    <svg>
                        <circle cx="38" cy="38" r ='36'></circle>
                    </svg>
                    <div class ="number">
                        <p>
                            81%
                        </p>
                    </div>
                </div>
                <div class ="left">
                    <h1>$0.99</h1>
                    <button class ="btn-button" id = "5"><h3>Add to Cart</h3></button>
                    
                </div>
            </div>

            <div class ="expenses">
                
                <div class ="progress">
                    <svg>
                        <circle cx="38" cy="38" r ='36'></circle>
                    </svg>
                    <div class ="number">
                        <p>
                            81%
                        </p>
                    </div>
                </div>
                <div class ="left">
                    <h1>$2.99</h1>
                    <button class ="btn-button" id = "6"><h3>Add to Cart</h3></button>
                    
                </div>
            </div>

            <div class ="expenses">
                
                <div class ="progress">
                    <svg>
                        <circle cx="38" cy="38" r ='36'></circle>
                    </svg>
                    <div class ="number">
                        <p>
                            81%
                        </p>
                    </div>
                </div>
                <div class ="left">
                    <h1>$1.99</h1>
                    <button class ="btn-button" id = "7"><h3>Add to Cart</h3></button>
                    
                </div>
            </div>

            <div class ="expenses">
                
                <div class ="progress">
                    <svg>
                        <circle cx="38" cy="38" r ='36'></circle>
                    </svg>
                    <div class ="number">
                        <p>
                            81%
                        </p>
                    </div>
                </div>
                <div class ="left">
                    <h1>$0.99</h1>
                    <button class ="btn-button" id = "8"><h3>Add to Cart</h3></button>
                    
                </div>
            </div>

            <div class ="expenses">
                
                <div class ="progress">
                    <svg>
                        <circle cx="38" cy="38" r ='36'></circle>
                    </svg>
                    <div class ="number">
                        <p>
                            81%
                        </p>
                    </div>
                </div>
                <div class ="left">
                    <h1>Free</h1>
                    <button class ="btn-button" id = "9"><h3>Add to Cart</h3></button>
                    
                </div>
            </div>
    
        </div>
        </main>
        <div class ="right">
            <div class = "top">
                <button id = "menu-btn">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <div class = "theme-toggler">
                    <span class="material-symbols-outlined active" id = "icon">light_mode</span>
                    <span class="material-symbols-outlined" id = "icon">dark_mode</span>
                </div>
            </div>
            <div class ="profile">
                <div class ="info">
                    <h1>
                        Hey, <b>Dhruv</b></h1>

                </div>
                <!--End of Top-->
                <div class ="recent-updates">
                    <div class = "">
                        <h1 class = "cart"> My Cart</h1>
                        <h2 id = "addToCart">Your cart is empty</h2>
                        
                            <table >
                                
                                <tbody class = "box-item">
                                    <tr>
                                        <td class = "font">
                                            <img src ="#"></img>
                                        </td>
                                        
                                        <td class = "font">$0.99</td>
                                        <a  href = "#"><td class = "danger font"><span class="material-symbols-outlined">
                                            delete
                                            </span></td></a>
                                        
                                    </tr>
                                    <tr>
                                        
                                </tbody>
                            </table>
                    
                        <span><h2 class ="danger" id = "total">Total: $0.00</h2></span>
                        <button type = "button" class="btn-button2"><h1>Purchase</h1></button>
                    </div>

